body {
    background-color: #eeeeee;
    font-size: 2em;
}

.container {
    background-color: #777777;
    border-radius: 2px;
    margin-top: 10%;
    max-width: 325px;
    padding: 1rem;
}

.col-lg-3 {
    height: 5rem;
    margin: .3rem;
    width: 5rem;
    border-radius: 2px;
    background-color: #dcdcdc;
}

.total {
    background-color: #a7c2a3;
    min-height: 50px;
    min-width: 150px;
}

.plus {
    height: 10.6rem;
    position: absolute;
    z-index: 100;
}

.point :hover {
    cursor: pointer;
    cursor: hand;
}

.row {
    margin: auto;
    width: 90%;
}