body {
    background-image: url('banner-math.jpg');
    background-color: #eeeeee;
    background-size: cover;
    font-size: 2em;
}

.container {
    background-color: #676566;
    border-radius: 3px;
    margin-top: 10%;
    max-width: 275px;
    padding: 1rem;
}

.col-lg-3 {
    height: 5rem;
    margin: .3rem;
    width: 5rem;
    border-radius: 2px;
    background-color: #dcdcdc;
}

.clear {
    background-color: #3a556d;
    color: #dcdcdc;
}

.equals{
    background-color: #638d89;
    color: #dcdcdc;
}

.total {
    background-color: #a7c2a3;
    margin-bottom: 5%;
    min-height: 50px;
    min-width: 150px;
    text-align: right;
}

.plus {
    height: 10.6rem;
    position: absolute;
    z-index: 100;
}

.point :hover {
    cursor: pointer;
    cursor: hand;
}

.row {
    margin: auto;
    width: 90%;
}

.foot {
    background-color: rgba(15, 15, 15, .8);
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;

}

.foot p {
    margin-bottom: 0;
    padding-top: 6px;
    color: #638d89;
}

.foot p a {
    color: #f8f8f8;
}

.foot p a:hover{
    color: #638d89;
}

.wrapper {
    margin-bottom: 75px;
}