body {
    background-image: url('banner-math.jpg');
    background-color: #eeeeee;
    background-size: cover;
    font-size: 2em;
    height: 100%;
}

.container {
    background-color: #676566;
    border-radius: 3px;
    margin-top: 10%;
    max-width: 275px;
    padding: 1rem;
}



.point {
    height: 5rem;
    margin: .36rem;
    width: 5rem;
    border-radius: 2px;
    background-color: #dcdcdc;
    padding-left: 1rem;
    padding-right: 1rem;
}

.point:active {
    color: #fefefe;
    background-color: #202020;
}

.point:hover {
    cursor: pointer;
    cursor: hand;
}

.allClear {
    background-color: #b71d2c;
    color: #fefefe;
    font-weight: 600;
}

.allClear:active {
    background-color: #fefefe;
    color: #b71d2c;
}
.clear {
    background-color: #d2cf1f;
    color: #202020;
    font-weight: 600;
}

.clear:active {
    background-color: #202020;
    color: #d2cf1f;
}

.equals {
    background-color: #618be1;
    color: #202020;
    font-weight: 600;
}

.equals:active {
    background-color: #202020;
    color: #618be1;
}

.plus {
    height: 10.6rem;
    position: absolute;
    z-index: 1;
}

.row {
    margin: auto;
    width: 90%;
}

.total {
    background-color: #a7c2a3;
    margin-bottom: 5%;
    min-height: 50px;
    min-width: 150px;
    overflow: auto;
    text-align: right;
    padding-right: 0;
}

.wrapper{
  height: 100%;
}

.foot {
  background-color: rgba(15,15,15, .8);
  margin: auto;
  max-width: 1500px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 0 30px 0;
  position: absolute;
}

.foot p {
  color: #618be1;
  margin-bottom: 0;
  padding-top: 6px;
}

.foot p a {
  color: #f8f8f8;
}

.foot p a:hover, .foot p a:active {
  color: #618be1;
}

@media (max-width: 700px) {
  .foot{
    margin-top: 10%;
    position: relative;
  }
  .foot p {
    text-align: center;
  }
  }
